*{
  margin: 0px;
  font-family: Nunito, Courier, monospace;
}

@font-face{
  font-family: nun;
  src: url(Roboto-Medium.ttf);
}

@font-face{
    font-family: nun2;
    src: url(Roboto-Regular.ttf);
}

@font-face{
  font-family: nun3;
  src: url(Roboto-MediumItalic.ttf);
}

@font-face{
  font-family: nun4;
  src: url(Nunito-BlackItalic.ttf);
}

@font-face{
  font-family: nun5;
  src: url(Roboto-BoldItalic.ttf);
}

:root{
  ---color1:#000;
  ---color2: #00e7e7;
  ---color3: #0011ff;
  ---color4: #ffffff;
  ---color5: #1b1b41;
}

body, html{
 overflow-x: hidden;
}

a{
 text-decoration: none;
}
  
ul{
 list-style: none;
}

.active{
 background-color: var(---color4);
 color: var(---initial-color3);
 padding-top: 7px;
 padding-bottom: 7px;
 border-radius: 15px;
 padding-left: 5px;
 padding-right: 5px;
 transition: all 0.8 ease-in-out;
}

.active:hover{
  color: var(---color);
}


  
/*navbar*/
.navbar{
  display: flex;
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  align-items: center;  
  justify-content: space-between;
  padding-top: 35px;
  color: var(---color1);
}

.navbar h2{
  display: flex;
  margin-left: 65px;
  font-size: 5.5vmin;
  margin-top: -10px;
  color: var(---color4);
  font-family: nun3, Helvetica, sans-serif;
}

.menu-button{
  display: none;
}
  
.menu{
  display: flex;
  align-items: center;
  justify-content: center;
}
  
.menu li{
  margin: 0 45px;
}
    
li a:hover{
  color: var(---color1);
  border-radius: 3px;
  transition: 0.9s ease-in-out;
}
  
li a{
  font-family: nun2;
  font-size: 2vmin;
  color: var(---color4);
  font-weight: bolder;
  text-decoration: none;
}

header{
  width: 100%;
  height: 100vh;
  background: url(IMG_1191.JPG);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
  
.heading1{
  font-size: 13vmin;
  margin-top: 10px;
  font-family: nun3;
  word-spacing: 2px;
  position: relative;
  color: var(---color4);  
  animation: myname 4s 0s infinite linear; 
}

.para1{
  font-size: 3vmin;
  font-family: nun3, Helvetica, sans-serif;
  color: var(---color4);
  position: relative;
}

button{
  margin: 15px;
  background-color: var(---color4);
  padding: 5px 5px 5px 5px;
  border-radius: 5px;
  position: relative;
}

.request{
  color: var(---color1);
  font-family: nun2;
  font-weight: bolder;
  font-size: 3vmin;
  position: relative; 
}

button :hover{
 color: var(---color5);
 transition: 3s;
}

span{
 font-family: nun4;
 color: var(---color1);
}

@keyframes myname{
  0%{color: var(---color4);}
  25%{color: var();}
  35%{color: var();}
  50%{color: var(---color1);}
  75%{color: var();}
  85%{color: var();}
  100%{color: var(---color4);}
}

.inner-container{
  width: 100%;
  height: 100vh;
  background: linear-gradient(135deg, rgba(0,0,0,0.4)0%,rgba(0,0,0,0.4)25%,rgba(0,23,149,0.6)50%,
  rgba(255,0,0,0.6)75%,rgba(0,23,149,0.6)100%);
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: 100% 400%;
  transition: 2s;
}

.container:hover .inner-container{
  background-position: 100% 100%;
}

header span:hover{
  color: #fff;
  transition: 2s;
}



.offer-content h4{
 font-family: nun2; 
 margin-left: 65px;
 font-size: 3.3vmin;
 margin-top: 30px;
}
 
.row2{
  display: flex;
  align-items: center;
  width: 100vw;
  margin: 10px 10px 10px 10px;
  justify-content: space-evenly;
  margin-top: 25px;
}
  
.col2{ 
  width: 25vw;
  height: 60vh; 
}
  
.row2 .col2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
  
.top{
  background: url(IMG_1188.JPG) no-repeat;
  height: 75vh;
  background-position: center;
  background-size: cover;
  border-radius: 5%;
}
  
.top2{
  background: url(IMG_1192.JPG) no-repeat;
  height: 75vh;
  background-position: center;
  background-size: cover;
  border-radius: 5%;
}
  
.top3{
  background: url(IMG_1190.JPG) no-repeat;
  height: 75vh;
  border-radius: 5%;
  background-position: center;
  background-size: cover;
}

.col-para1{
  font-size: 3.5vmin;  
  font-family: nun2;
  color: var(---color4);
}
  
.col-para2{
  font-size: 3.5vmin;
  font-family: nun2;
  color: var(---color4);
}

/* Container needed to position the overlay. Adjust the width as needed */
.col2{
  position: relative;
  margin-top: 96px;
}
  
.overlay {
  position: absolute;
  left: 0;
  right: 0;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.4)0%,rgba(165, 9, 9, 0.712)25%,rgba(38, 16, 241, 0.664)50%,
  rgba(247, 16, 16, 0.6)75%,rgba(0, 0, 0, 0.692)100%);
  overflow: hidden;
  width: 25vw;
  height: 75vh;
  border-radius: 5%;
  transform: scale(0);
  transition: 1s ease;
}
  
/* When you mouse over the container, the overlay text will "zoom" in display */
.col2:hover .overlay {
  transform: scale(1);
}
  
/* Some text inside the overlay, which is positioned in the middle vertically and horizontally */
.text{
  color: white;
  font-size: 2.5vmin;
  font-family: nun4, Helvetica, sans-serif;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.about-host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #6d6ea1;
  margin-top: 50px;
  padding-top: 35px;
  padding-bottom: 35px;
}

.line3{
 width: 170px;
 height: 5px;
 background: #5600b8;
 margin: 10px 10px 10px 10px;
 border-radius: 5px;
 animation: myname2 4s 0s infinite linear;
}

@keyframes myname2{
  0%{background-color: var(---color4);}
  25%{background-color: var();}
  35%{background-color: var();}
  50%{background-color: var(---color1);}
  75%{background-color: var();}
  85%{background-color: var();}
  100%{background-color: var(---color4);}
}

.host{
 font-size: 4vmin;
 margin-top: 50px;
 margin-left: 65px;
}

.host h2, h3{
  font-family: nun2;
}

.bio-host{
 font-size: 3vmin;
 color: var(---color5);
 padding-top: 10px;
 font-family: nun2;
}

.host-background{ 
 background: linear-gradient(135deg, rgba(0, 0, 0, 0.4)0%,rgba(165, 9, 9, 0.712)25%,rgba(38, 16, 241, 0.664)50%,
 rgba(247, 16, 16, 0.6)75%,rgba(0, 0, 0, 0.692)100%),url(back4.jpg);
 background-position: center;
 background-size: cover;
 border-top-left-radius: 150px;
 padding: 15px 15px 15px 15px;
 margin-bottom: 35px;
 margin-right: 55px;
 margin-top: 45px;

}

#host-image{
  height: 75vh;
}

.names{
 height: 10vh;
 text-align: center;
 position: relative;
 border: 2px solid var(---color4);
 z-index: 999;
 background-color: #1900ff56;
 backdrop-filter: blur(10px);
 border-top-left-radius: 15px;
 border-bottom-right-radius: 15px;
 margin-top: -30px;
}

.host-name3{
 font-size: 3.5vmin;
 margin-top: 10px;
 font-family: nun;
 color: #ffffff;
}

.host-name4{
 font-size: 2.5vmin;
 color: #F8F4FF;
 font-family: nun2;
}

.bio-span{
  margin-left: 15px;
  font-family: nun2;
  color: var(---color5);
  
}

.bio-span:hover{
  color: none;
}

p, li{
  font-family: nun2;
  font-size: 3vmin;
  color: var(---color5);
}

.about-host li{
  font-family: nun4;
 
}

.about-host li:hover{
  color: var(---color4);
  transition: 1.5s;
}

.sidemenu{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: #383434d7;
  backdrop-filter: blur(50px);
  transition: 2s ease-in-out;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column; 
  align-items: flex-start;
  justify-content: flex-start;
}

.sidemenu li{
  margin-top: 70px;
}

.sidemenu li a:hover{
  background: var(none);
}


@media(max-width: 500px){
.host-background{ 
  background:linear-gradient(135deg, rgba(0, 0, 0, 0.4)0%,rgba(165, 9, 9, 0.712)25%,rgba(38, 16, 241, 0.664)50%,
  rgba(247, 16, 16, 0.6)75%,rgba(0, 0, 0, 0.692)100%), url(sam.jpg);
  background-position: center;
  background-size: cover;
  border-top-left-radius: 100px;
  padding: 15px 15px 15px 15px;
  margin-bottom: 35px;
  margin-right: 55px;
  margin-top: 45px;
   
}
   
#host-image{
 height: 65vh;
 width: 75vw;
}
   
.names{
  height: 10vh;
  position: relative;
  text-align: center;
  border: 2px solid var(---color4);
  background-color: var(---color1);
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-top: -30px;
}
   
.host-name3{
  font-size: 3.5vmin;
  font-family: nun;
  color: #ffffff;
}
   
.host-name4{
  font-size: 2.5vmin;
  color: #F8F4FF;
  font-family: nun2;
}
   
}
 
@media(max-width: 820px){
.hideOnMobile{
  display: none;
}

.menu-button{
  display: block;
}


.row2{
  display: flex;
  align-items: center;
  width: 100vw;
  margin: 10px 10px 10px 10px;
  justify-content: space-evenly;
  margin-top: 25px;
}
  
.col2{ 
  width: 30vw;
  height: 60vh; 
}

.col-para1{
  font-size: 3.5vmin;  
  font-family: nun2;
  color: var(---color4);
}
  
.col-para2{
  font-size: 3.5vmin;
  font-family: nun2;
  color: var(---color4);
}

/* Container needed to position the overlay. Adjust the width as needed */
.col2{
  position: relative;
  margin-top: 96px;
}
  
.overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.4)0%,rgba(165, 9, 9, 0.712)25%,rgba(38, 16, 241, 0.664)50%,
  rgba(247, 16, 16, 0.6)75%,rgba(0, 0, 0, 0.692)100%);
  overflow: hidden;
  width: 75vw;
  height: 75vh;
  border-radius: 5%;
  transform: scale(0);
  transition: 1s ease;
}
  
/* When you mouse over the container, the overlay text will "zoom" in display */
.col2:hover .overlay {
  transform: scale(1);
}
  
/* Some text inside the overlay, which is positioned in the middle vertically and horizontally */
.text{
  color: white;
  font-size: 4vmin;
  font-family: nun4, Helvetica, sans-serif;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

}

@media(max-width: 1188px){
    /* Container needed to position the overlay. Adjust the width as needed */
.col2{
  position: relative;
  margin-top: 84px;
}
  
.overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0px;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.4)0%,rgba(165, 9, 9, 0.712)25%,rgba(38, 16, 241, 0.664)50%,
  rgba(247, 16, 16, 0.6)75%,rgba(0, 0, 0, 0.692)100%);
  overflow: hidden;
  height: 75vh;
  border-radius: 5%;
  transform: scale(0);
  transition: 1s ease;
}
  
/* When you mouse over the container, the overlay text will "zoom" in display */
.col2:hover .overlay {
  transform: scale(1);
}
  
/* Some text inside the overlay, which is positioned in the middle vertically and horizontally */
.text{
  color: white;
  font-size: 2.5vmin;
  font-family: nun3, Helvetica, sans-serif;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.offer{
  margin-left: -20px;
}

.rest2{
  margin-left: 10px;
}

}


@media(max-width: 768px){
.row2{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  row-gap: 35px;
  margin: 10px 10px 10px 10px;
  justify-content: space-evenly;
  margin-top: 25px;
}
  
.col2{ 
  width: 75vw;
  height: 75vh;
  margin: 10px 10px 10px 10px;
}

.row2 .col2{
  display: flex;
  flex-direction: column;   
} 

.about-host {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: #6d6ea1;
  margin-top: 50px;
  padding-top: 35px;
  padding-bottom: 35px;
}


.title{
  text-align: center;
  font-size: 4vmin;
  color: #2c0055;
  margin-right: 30px;
  animation: myname 4s 0s infinite linear;
}

.line3{
  width: 170px;
  height: 5px;
  background: #5600b8;
  margin: 10px auto;
  border-radius: 5px;
}

}


@media(max-width: 1000px){
.offer-content h4{
  text-align: center;
  margin-left: 25px;
}

.navbar h2{
  margin-left: 25px;
}

  .row2{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    row-gap: 35px;
    margin: 10px 10px 10px 10px;
    justify-content: space-evenly;
    margin-top: 25px;
  }
    
  .col2{ 
    width: 75vw;
    height: 75vh;
    margin: 10px 10px 10px 10px;
  }
  
  .row2 .col2{
    display: flex;
    flex-direction: column;   
  } 
  
.about-host {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background-color: #6d6ea1;
    margin-top: 50px;
    padding-top: 35px;
    padding-bottom: 35px;
}

.host-background{
  margin-right: 5px;
}

.sidemenu{
  width: 35%;
}

.host{
  margin-left: 25px;
}
  
.title{
    text-align: center;
    font-size: 4vmin;
    color: #2c0055;
    margin-right: 30px;
    animation: myname 4s 0s infinite linear;
}
  
.line3{
    width: 170px;
    height: 5px;
    background: #5600b8;
    margin: 10px auto;
    border-radius: 5px;
    animation: none;
}

.hideOnMobile{
    display: none;
}

.menu-button{
  display: block;
}

/* Container needed to position the overlay. Adjust the width as needed */
.col2{
  position: relative;
  margin: 0px auto;
}
  
.overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.4)0%,rgba(165, 9, 9, 0.712)25%,rgba(38, 16, 241, 0.664)50%,
  rgba(247, 16, 16, 0.6)75%,rgba(0, 0, 0, 0.692)100%);
  overflow: hidden;
  width: 75vw;
  height: 75vh;
  border-radius: 5%;
  transform: scale(0);
  transition: 1s ease;
}
  
/* When you mouse over the container, the overlay text will "zoom" in display */
.col2:hover .overlay {
  transform: scale(1);
}
  
/* Some text inside the overlay, which is positioned in the middle vertically and horizontally */
.text{
  color: white;
  font-size: 2.5vmin;
  font-family: nun4, Helvetica, sans-serif;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.names{
  height: 10vh;
  text-align: center;
  border: 2px solid var(---color1);
  z-index: 999;
  background-color: #1900ff56;
  backdrop-filter: blur(10px);
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
 }
 
 
.host-name3{
 font-size: 3.5vmin;
 margin-top: 10px;
 font-family: nun5;
 color: var(---color4);
}
 
 .host-name4{
  font-size: 2.5vmin;
  color: var(---color4);
  font-family: nun5;
 }

}

